<?xml version="1.0"?>

<robot name="ubiquitous_display" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dual_ubiquitous_display_description)/urdf/body/body.urdf.xacro"/>
  <xacro:include filename="$(find dual_ubiquitous_display_description)/urdf/youbot/youbot_base_only.urdf.xacro"/>
  <xacro:include filename="$(find dual_ubiquitous_display_description)/urdf/pantilt/pantilt.urdf.xacro"/>
  <xacro:include filename="$(find dual_ubiquitous_display_description)/urdf/sensor/lrf/hokuyo_utm30lx.urdf.xacro"/>
  <xacro:pantilt_model name="pantilt1_" parent="body_link" pos="0.18" offset="0.0"/>
  <xacro:pantilt_model name="pantilt2_" parent="body_link" pos="-0.18" offset="0.0"/>
  <!--xacro:hokuyo_utm30lx_model name="front_laser" parent="base_link" pos="0.261" ang="0"/>
  <xacro:hokuyo_utm30lx_model name="rear_laser" parent="base_link" pos="-0.261" ang="3.14"/-->

  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/dual_ubiquitous_display</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>
